<%= notice %>

  <ul>
    <li><%= @vimeo_video.url %></li>
    <li><%= @vimeo_video.description %></li>
    <li><%= @vimeo_video.rating %></li>
  </ul>

<a href="/vimeo_videos/<%=@vimeo_video.id %>/edit">Edit</a>

<%= link_to "Delete", vimeo_video_path(@vimeo_video), method: :delete, data: {confirm: "Are you sure?"} %>

<iframe src="<%= @vimeo_video_url %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
