<h2>Add a Video</h2>

<ul>
  <% @video.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= form_for @video do |f| %>
  <p>
    <%= f.label :url, 'URL of Video' %>
    <%= f.text_field :url %><br/>
  </p>
  <p>
    <%= f.label :description, 'Short Description' %>
    <%= f.text_area :description %><br/>
  </p>
  <p>
    <%= f.label :rating, 'Rating' %>
    <%= f.text_field :rating %><br/>
  </p>
  <%= f.submit 'Create Video' %>
<% end %>
