<%= notice %>


<iframe width="420" height="315" src="<%= @youtube_url %>" frameborder="0" allowfullscreen></iframe>

<ul>
  <li><%= @video.url %></li>
  <li><%= @video.description %></li>
  <li><%= @video.rating %></li>
</ul>
